.tabs {
    margin-bottom: 0 !important;
    margin-left: 0; }
.tabs:before, .tabs:after {
    content: " ";
    display: table; }
.tabs:after {
    clear: both; }
.tabs dd, .tabs .tab-title {
    position: relative;
    margin-bottom: 0 !important;
    list-style: none;
    float: left; }
.tabs dd > a, .tabs .tab-title > a {
    display: block;
    background: #efefef;
    color: #222222;
    padding: 1rem 2rem;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1rem; }
.tabs dd > a:hover, .tabs .tab-title > a:hover {
    background: #e1e1e1; }
.tabs dd.active a, .tabs .tab-title.active a {
    background: white;
    color: #222222; }
.tabs.radius dd:first-child a, .tabs.radius .tab:first-child a {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
.tabs.radius dd:last-child a, .tabs.radius .tab:last-child a {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px; }
.tabs.vertical dd, .tabs.vertical .tab-title {
    position: inherit;
    float: none;
    display: block;
    top: auto; }

.tabs-content {
    margin-bottom: 1.5rem;
    width: 100%; }
.tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
.tabs-content:after {
    clear: both; }
.tabs-content > .content {
    display: none;
    float: left;
    padding: 0.9375em 0;
    width: 100%; }
.tabs-content > .content.active {
    display: block;
    float: none; }
.tabs-content > .content.contained {
    padding: 0.9375em; }
.tabs-content.vertical {
    display: block; }
.tabs-content.vertical > .content {
    padding: 0 0.9375em; }

@media only screen and (min-width: 40.063em) {
    .tabs.vertical {
        width: 20%;
        max-width: 20%;
        float: left;
        margin: 0 0 1.25rem; }

    .tabs-content.vertical {
        width: 80%;
        max-width: 80%;
        float: left;
        margin-left: -1px;
        padding-left: 1rem; } }
.no-js .tabs-content > .content {
    display: block;
    float: none; }
