

/********************** Post navigation **********************/

.post-navigation{
    position: relative;
    margin: 50px 0 60px;
    padding: 30px;
    background: rgba(0,0,0,.02);
}
.post-navigation div.columns {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.750rem;
    line-height: 1.6;
}
.post-navigation div.columns:last-child{
    text-align: right;
}
.post-navigation div.columns:nth-child(2){
    text-align: center;
    font-size: 0.875rem;
}
.post-navigation div.columns a{
    color: inherit;
}