

/********************** Blog single **********************/

.single article,
.page article {
    margin-bottom: 60px;
}
.single h2.entry-title {
    font-size: 2.250rem;
    margin: 0;
}
.single article .featimg {
    overflow: hidden;
    margin-bottom: 1.875rem;
    position: relative;
    text-align: center;
}
.single .monstro-unboxed article .featimg {
    margin-left: -90px;
}
.single.monstro-fullwidth-view .monstro-unboxed article .featimg {
    margin-left: 0;
}
.single article .featimg img{
    width: 100%;
    max-width: 100%;
}

.single article .entry-content,
.page article .entry-content{
    margin: 0 0 60px;
}
.single article .entry-content p,
.single article .post-content p,
.single article .gallery-content p,
.archive article .entry-excerpt p{
    font-size: 0.875rem;
    line-height: 1.6rem;
    margin: 0 0 1.875rem;
}

.single article .entry-content p:last-child,
.single article .post-content p:last-child,
.page article .entry-content p:last-child,
.page article .post-content p:last-child,
.single article .gallery-content p:last-child,
.archive article .entry-excerpt p:last-child {
    margin: 0;
}

.single article .entry-content ol,
.single article .entry-content ul {
    font-size: 0.875rem;
    line-height: 1.6rem;
}


/* Entry meta */

.single .entry-meta {
    text-align: left;
    margin-bottom: 1.875rem;
}
.single .entry-meta ul li {
    font-weight: 700;
    font-size: 0.688rem;
}
.single .entry-meta ul li span:before,
.single .entry-meta ul li span:after {
    content: none;
}
.single .solid .entry-meta ul li span:before,
.single .solid .entry-meta ul li span:after,
.single .dotted .entry-meta ul li span:before,
.single .dotted .entry-meta ul li span:after {
    border-bottom: none;
}


/********************** Overlay on single **********************/

.single article header .featimg .entry-feat-overlay{
    background: #ffffff;
    top: auto;
    bottom: 0;
    width: auto;
    height: auto;
    opacity: 1;
}
.single article header .featimg .entry-feat-overlay a{
    padding: 4px 10px;
}
.single article header .featimg .entry-feat-overlay a:before {
    position: relative;
    top: 0;
    width: auto;
    text-align: left;
    font-size: 100%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}


/********************** Default Wordpress styles **********************/

/* Images */
.entry-content img,
.comment-content img,
.widget img {
    max-width: 100%; /* Fluid images for posts, comments, and widgets */
    max-height: 100%;
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
pre, code {
    clear: both;
    overflow: auto;
    white-space: pre;
    color: inherit;
}
img.size-full,
img.size-large {
    max-width: 100%;
    width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
    height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.entry-content img.wp-smiley {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    border: none;
}
img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 1em;
}


/* Image borders */
img[class*="align"],
img[class*="wp-image-"],
#content .gallery .gallery-icon img {
    padding: 0;/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
    border: none;
}


/********************** Captions **********************/

.wp-caption {
    margin: 0;
}
.wp-caption {
    position: relative;
    margin-bottom: 1.875rem;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px;
    padding: 0;
}
.wp-caption img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-color: transparent;
}
.wp-caption a:focus img,
.wp-caption a:active img,
.wp-caption a:hover img {
    border-color: transparent;/* ... including captioned images! */
    background: transparent;
}
.wp-caption .wp-caption-text {
    margin-bottom: 0;
    font-style: italic;
    color: #9da0a4;
    position: relative;
    width: auto;
    text-align: left;
    padding: 10px 15px;
    font-size: 0.688rem;
}


/********************** Standard gallery **********************/

.gallery {
    margin-bottom: 20px;
}

.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 4px);
    max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - 4px);
    max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
}

.gallery-caption:before {
    content: "";
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

a:focus img[class*="align"],
a:hover img[class*="align"],
a:active img[class*="align"],
a:focus img[class*="wp-image-"],
a:hover img[class*="wp-image-"],
a:active img[class*="wp-image-"],
.gallery .gallery-icon a:focus img,
.gallery .gallery-icon a:hover img,
.gallery .gallery-icon a:active img {
    border-color: #bbb;/* Add some useful style to those fancy borders for linked images ... */
    background: transparent;
}


/********************** Password Protected Posts **********************/

.post-password-required .entry-header .comments-link {
    margin: 1.625em 0 0;
}
.post-password-required input[type=password] {
    margin: 0.8125em 0;
}
.post-password-required input[type=password]:focus {
    background: #f7f7f7;
}

/* Floated content doesn't work well at this size */

.alignleft,
.alignright {
    display: block;
    float: none;
    margin-right: 0;
    margin-left: 0;
}

/* Alignment */

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.625em;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 1.625em;
}
.aligncenter {
    display: block;
    clear: both;
    margin-right: auto;
    margin-left: auto;
}
dl.gallery-item {
    margin: 0;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}

.sticky{}
.bypostauthor {}


/********************** Category name **********************/

.single .entry-content .entry-category{
    display: block;
}
.single .entry-content .entry-category a{
    color: inherit;
    font-size: 0.750rem;
    font-weight: 700;
    text-transform: uppercase;
}
.single .entry-content .entry-category a:after {
    content: ", ";
    position: relative;
}
.single .entry-content .entry-category a:last-child:after {
    content: "";
}


/********************** Single share **********************/

.single .entry-share {
    display: inline-block;
    margin: 0;
}
.single .entry-share .socialicons > ul.monstro-social:before,
.single .entry-share .socialicons > ul.monstro-social:after  {
    content: none;
}
.single .entry-share .socialicons {
    float: right;
}
.single .entry-share .socialicons > ul.monstro-social > li {
    margin: 0 10px 0 0;
}
.single .entry-share .socialicons > ul.monstro-social > li:last-child{
    margin: 0;
}
.single .entry-share .socialicons > ul.monstro-social > li > a {
    height: 25px;
    width: 25px;
    line-height: 22px;
}
.single .solid .entry-share .socialicons > ul.monstro-social > li > a {
    border: 1px solid;
}
.single .dotted .entry-share .socialicons > ul.monstro-social > li > a {
    border: 1px dotted;
}