

/********************** Vertical align for header **********************/

.vertical-align .row{
    display: table;
}
.vertical-align .row .columns{
    display: table-cell;
    vertical-align: middle;
    float: none;
}